

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #hero {
        height: 400px;
        background: url("/images/lobby.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

/* Laptop */
@media only screen and (min-width: 1024px) {

    /* #hero {
        height: 600px;
        background: url("/images/restaurant-front-1920.jpg");
        background-position: 0 80%;
        background-size: cover;
        background-attachment: fixed;
    } */

}


/*-- -------------------------- -->
<---          About Us          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #about {
        position: relative;
        z-index: 1;
    }

    .about-desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        z-index: 1;
        margin-bottom: 100px;
        max-width: 600px;
    }
    #about::before {
        content: '';
        position: absolute;
        display: block;
        width: 300px;
        height: 300px;
        background: url("/images/ship-wheel-black.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: .05;
        right: -130px;
        top: 50px;
    }

    #about div {
        margin: 25px auto;
    }

    .about-desc div {
        text-align: center;
    }

    #about h2 {
        color: var(--primary);
        text-align: center;
        font-size: 2rem;
        margin: 50px 0;
    }

    #about h3 {
        font-size: 1.5rem;
    }

    .about-desc img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .about-desc div a {
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 568px) {

    #about::before {
        width: 500px;
        height: 500px;
    }

    .about-desc div a {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 1024px) {

    .about-desc {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        max-width: 1300px;
    }
    #about::before {
        left: 130px;
        top: 270px;
    }

    #about h2 {
        font-size: 3rem;
        margin: 75px 0;
    }

    .about-desc div:first-of-type {
        width: 40%;
    }

    .about-desc div:last-of-type {
        width: 40%;
    }

    .about-desc img {
        max-width: 800px;
    }

}

/*-- -------------------------- -->
<---            Slider          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    .slider {
        width: 300px;
        margin: 50px auto 20px !important;
        text-align: center;
    }
    
    .slider .photos {
        position: relative;
        height: 500px;
    }
    
    .photos img {
        width: 300px;
        height: 500px;
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 1s;
    }
    
    .slider .photos img.shown {
        opacity: 1;
    }
    
    .prev::before,
    .next::before {
      color: #fff;
      font-size: 100px;
      position: absolute;
      top: 35%;
      cursor: pointer;
    }
    
    .prev::before {
      content: '<';
      left: 0;
    }
    
    .next::before {
      content: '>';
      right: 0;
    }

}

@media only screen and (min-width: 750px) {

    .slider {
        width: 400px;
    }
    
    .slider .photos {
        position: relative;
        height: 666px;
    }
    
    .photos img {
        width: 400px;
        height: 666px;
    }

}