

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #hero {
        height: 400px;
        background: url("/images/seaside-sign-1024.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

/* Laptop */
@media only screen and (min-width: 1024px) {

    #hero {
        height: 600px;
        background: url("/images/seaside-sign-1920.jpg");
        background-position: 0 -200px;
        background-size: cover;
        background-attachment: fixed;
    }

}

/* Wide Desktop */
@media only screen and (min-width: 1700px) {

    #hero {
        height: 800px;
    }

}


/*-- -------------------------- -->
<---          About Us          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #contact {
        position: relative;
        z-index: 1;
    }

    #contact .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        z-index: 1;
        margin-bottom: 100px;
        max-width: 600px;
    }
    #contact::before {
        content: '';
        position: absolute;
        display: block;
        width: 300px;
        height: 300px;
        background: url("/images/ship-wheel-black.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: .05;
        right: -130px;
        top: 50px;
    }

    #contact .container div {
        margin-bottom: 50px;
    }

    #contact h2 {
        color: var(--primary);
        text-align: center;
        font-size: 2rem;
        margin: 50px 0;
    }

    #contact h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    #contact h4 {
        text-align: center;
    }

    #contact img {
        margin-top: 40px;
    }

    .contact-info {
        position: relative;
        margin: 50px 40px;
    }
    .contact-info::before {
        content: '';
        position: absolute;
        border-left: 3px solid var(--secondary);
        height: 100%;
        bottom: 0;
        left: -30px;
    }

    .contact-info h5 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .contact-info p {
        display: block;
    }

    .contact-info a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--primary);
        font-weight: bold;
    }

    #contact img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border: 2px solid #FFFFFF;
        box-shadow: 2px 2px 30px 7px #00000040;
    }

}

@media only screen and (min-width: 568px) {

    #contact::before {
        width: 500px;
        height: 500px;
    }

}

@media only screen and (min-width: 1024px) {

    #contact .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        max-width: 1100px;
    }
    #contact::before {
        left: 300px;
        top: 270px;
    }

    #contact h2 {
        font-size: 3rem;
        margin: 75px 0;
    }

    #contact .container div:first-child {
        width: 40%;
    }

    #contact .container div:last-child {
        width: 40%;
    }

    #contact img {
        max-width: 800px;
    }


}